.collection-wrapper {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.collection-wrapper-btn {
  font-size: 18px;
  color: #3182CE;
  border: 1px solid;
  border-color: #3182CE;
  border-radius: 10px;
  padding: 10px 20px;
}
.collection-wrapper-btn:hover, .collection-wrapper-btn:focus {
  color: white;
  background-color: #3182CE;
}
